* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
/* en-tête - desktop */
@media all and (min-width: 992px) {

    body {
        margin: 0;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: flex;
        padding-left: 32px;
        height: 45px;
    }

    .navigation {
        display: flex;
        padding-inline-start: 0;
        margin: 0;
    }

    .header-li{
        display: flex;
        list-style: none;
        padding: 45px;
    }

    a:visited {
        color: black;
    }

    a:link {
        text-decoration: none;
    }

    .header-li:hover {
        border-top: 1px solid #0065FC;
        color: #0065FC; 
    }

    a:hover {
        color: #0065FC;
    }
}
